{% extends "layout_base.html" %}
{% load i18n %}
{% block content %}
<div class="header clearfix">
<h3 class="text-muted">Inmobiliaria</h3>
</div>
<h2>Restablecer la contraseña</h2>
<p>¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación</p>
<form action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <input class="form-control form-control-lg" type="email" id="id_email" name="email" placeholder="Nombre de usuario o correo electronico">
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <button type="submit" class="btn btn-lg btn-primary ">Enviar</button>
      <a class="cancel" href="{% url 'inmobiliaria:login' %}">Cancel</a>
    </div>
  </div>
  {{ form.email.errors }}
</form>  
{% endblock %}