{% extends "layout_base.html" %}
{% load i18n static %}

{% block content %}
<div class="header clearfix">
<h3 class="text-muted">Inmobiliaria</h3>
</div>
<h2>Restablecer la contraseña</h2>
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}

	<div class="form-group">
    	<input class="form-control form-control-lg" type="email" id="id_email" name="email" placeholder="Nombre de usuario o correo electronico">
  	</div>
  	<div class="row">
    	<div class="col text-right">
      		<input name="btn_reset_pass" type="submit" class="btn btn-lg btn-primary" value="{% trans 'Reset my password' %}" />
		</div>
      	<div class="col">
      		<a class="cancel" href="{% url 'inmobiliaria:login' %}">{% trans 'Cancel' %}</a>	
    	</div>
  	</div>
  {{ form.email.errors }}
</form> 
{% endblock %}
